.card {
    margin-top: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 8px;
}
.Work-User-Info {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}
.Work-Card {
    max-height: 100px;
    max-width: 2px;
}
.Work-Card-Info {
    padding-left: 0;
    padding-right: 75px;     
    
}
.Work-Card-Info h1{
    font-size: 23px;
    color: white;
}
.Work-Card-Info p{
    font-size: 11px;
    color: white;
}
.size{
    border: 5px solid black;
}
